:host {
  --thumb-width: 100px;
}

ion-header {
  --ion-color-base: var(--search-bar-bg);
  --ion-background-color: var(--search-bar-bg);

  ion-searchbar {
    --box-shadow: none;
    color: var(--search-bar-color);
  }
}

h1 {
  padding-left: 1rem;
}

ion-item {
  margin-bottom: 1rem;
}

.meta {
  span+span::before {
    content: " • ";
    margin: 0 .5rem;
  }
}