<ion-header translucent>
  <ion-toolbar color="transparent">
    <ion-searchbar
      #searchbar
      placeholder="Search TV shows..."
      (ionInput)="onSearch()"
      [formControl]="query"
      debounce="300">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    @if (isPopular()) {
      <h1>Most popular shows</h1>
    } @else {
      <h1>Results for "{{ query.value }}"</h1>
    }
    @for (show of results(); track show.id) {
      <ion-item (click)="dismiss(show.id)">
        <app-show-thumb [show]="show" slot="start"></app-show-thumb>
        <ion-label>
          <h2>{{ show.name }}</h2>
          <div class="meta">
            <span class="year">{{ show?.premiered | date:'yyyy' }}</span>
            <span class="rating">{{ show?.rating?.average ?? 'N/A' }} <ion-icon name="star"></ion-icon></span>
          </div>
          <div class="genres">
            @for (genre of show?.genres; track genre) {
              <ion-chip>{{ genre }}</ion-chip>
            }
          </div>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
