:host {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: var(--ion-color-danger);
  padding: .25rem .5rem;
  text-align: center;
  font-weight: bold;
}

.position {
  font-size: 1.5rem;
}
