:host {
  flex: 0 0 var(--thumb-width, 150px);
  width: var(--thumb-width, 150px);
}

.thumb-wrapper {
  width: var(--thumb-width, 150px);
  background-color: rgba(var(--ion-color-medium-rgb), 0.2);
  overflow: hidden;
  position: relative;
  aspect-ratio: 30 / 43;
  border-radius: 5px;
  border: 1px solid rgba(var(--ion-color-light-rgb), 1);
}

.thumb-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .3s ease;
}

.thumb-wrapper img.loaded {
  opacity: 1;
}
