// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

html {
  --movie-placeholder: url('/assets/thumb-movie-light.png');
  --search-bar-bg: #000;
  --search-bar-color: #fff;

  &.dark {
    --movie-placeholder: url('/assets/thumb-movie-dark.png');
  }
}