/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";

html {
  &.dark {
    color-scheme: light dark;
  }
}

// global.scss
.spotlight-modal {
  backdrop-filter: saturate(100%) blur(2px);

  &::part(backdrop) {
    background: rgba(0, 0, 0, 0.6);
  }

  &::part(content) {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    width: 90%;
    max-height: 80vh;
    background: rgba(30, 30, 30, 0.85);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900 !important;
  font-style: normal;
  text-transform: uppercase;
}

.custom-scrollbar {
  $scrollbar-bg: transparent;
  $scrollbar-width: .25rem;

  scrollbar-color: rgba(var(--ion-color-medium-rgb), .2) $scrollbar-bg;
  scrollbar-width: thin;

  &::-webkit-scrollbar * {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(var(--ion-color-medium-rgb), .2) !important;
    border-radius: 0;
  }

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    height: $scrollbar-width;
    background-color: $scrollbar-bg;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
